@charset "UTF-8";


@import url('https://fonts.googleapis.com/css2?family=Bungee+Hairline&family=Libre+Baskerville:wght@400;700&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');


:root{
    /* Fontes */
    --fonte-principal:'Space Grotesk', sans-serif; 
    --fonte-destaque: 'Libre Baskerville', serif;

    --cor-escura: hsl(0, 0%, 17%);
    --cor-clara: hsl(0, 0%, 100%);

    --text: hsl(0, 15%, 5%);
    --background: hsl(0, 7%, 97%);
    --cor-primaria: hsl(30, 92%, 55%);
    --cor-secundaria: hsl(270, 71%, 81%);
    --accent: hsl(270, 99%, 40%);

    --text-dark: #f2ebfa;
    --background-dark: #140920;
    --cor-primaria-dark: hsl(30, 92%, 55%);
    --cor-secundaria-dark: #030104;
    --accent-dark: #c9a9e8;


    /*--text-dark: #fee7e7;
    --background-dark: #0f0b0b;
    --cor-primaria-dark: #ff870e00;
    --cor-secundaria-dark: #011414;
    --accent-dark: #7ebcfa;*/
    
    
    /*--cor-mixblend: #dbdbdb;*/
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body{
    height: 100vh;
    transition: .3s;
    font-family: var(--fonte-principal);
    scroll-behavior: smooth;
    scroll-padding-top: 120px;
    background: var(--background); 
}

a{
    text-decoration: none;
    color: inherit;
}

ul,li{
    list-style: none;
}

/* Scroolbar */

body::-webkit-scrollbar{
    width: 9px;              
}
  
body::-webkit-scrollbar-track{
    position: relative;
    z-index: -1;
    background: transparent;   
       
}
  
body::-webkit-scrollbar-thumb{
    background-color: rgba(255, 166, 0, 0.486);  
    border-radius: 20px;       
    border: 3px solid transparent;  
}

/* HEADER */


header {
    height: 100%; 
    background: url(/imagens/layered-waves-haikei.svg)center bottom no-repeat;
    background-size: cover;
}

header section{
    height: 100%;
}

/* .cabecalho */
 
header .cabecalho{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    height: 70px;
    width: 100%;
    padding: 1em;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 999;
    background-color: var(--cor-clara); 
    border-bottom: 1px solid var(--cor-escura);
}


header .cabecalho .logo {
    width: 80px;
    height: 33px;
    background: transparent;
}

header .cabecalho svg{
    width: 100%;
    height: 100%;  
}

header .cabecalho .logo svg g{
    fill: var(--cor-escura)
}

header .cabecalho .navbar{
    width: 45px;
}

header .cabecalho .navbar input{
    display: none;
}

header .cabecalho .navbar ul{
    display: none;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    top: 70px;
    right: 0;
    position: absolute;
    z-index: 999;
    background-color: var(--cor-clara);
    border-bottom: 1px solid var(--cor-escura);
}

header .cabecalho .navbar ul a{
    color: var(--text);
    text-transform: capitalize;
    padding: .5em;
    font-size: .8em;
    position: relative;
}

header .cabecalho .navbar ul a.active::before,
header .cabecalho .navbar ul a:hover::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 3px;
    background-color: var(--cor-primaria);
    border-radius: 3px;
    transform:translateY(1px) translateX(50%);
    opacity: 0.7;
}
 
header #hamburguer-menu-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    height: 40px;
    width: 42px;
    background-color: transparent;
    border-radius: 50%;
    transition: .3s ease-in-out;
    border: none;
    outline: none !important; 
    cursor: pointer;
}

header .hamburguer-menu-central{
    width: 50%;
    height: 2px;
    background-color: var(--cor-escura);
    position: relative;
    opacity: 1;
    transition: .3s ease-in-out;
}

header .hamburguer-menu-central:before,
.hamburguer-menu-central:after {
    content: "";
    left: 0;
    width: 100%;
    height: 2px;
    background-color: var(--cor-escura);
    position: absolute;
    transition: .3s ease-in-out;
}

header .hamburguer-menu-central::before{
    transform: translateY(-5px);
}

.hamburguer-menu-central::after{
    transform: translateY(5px);   
}

header .cabecalho .navbar input:checked ~ label .hamburguer-menu-central{
    transform: rotate(45deg);
    background-color: var(--cor-clara);
}

header .cabecalho .navbar input:checked ~ label .hamburguer-menu-central::before{
    transform: rotate(90deg);
    background-color: var(--cor-clara);
}

header .cabecalho .navbar input:checked ~ label .hamburguer-menu-central::after{
    transform: rotate(90deg);
    background-color: var(--cor-clara);
}

header .cabecalho .navbar input:checked ~ label #hamburguer-menu-wrapper{
    background-color: var(--cor-escura);
}

header .cabecalho .navbar-lista{
    display: none;
}

header .cabecalho .tema{
    display: flex;
    justify-content: center;
    position: relative;
}

header .cabecalho .tema input[type="checkbox"]{
    display: none;
}

header .cabecalho .tema > .box-check{
    width: 75px;
    height: 28px;
    appearance: none;
    display: block;
    border: 1px solid var(--cor-escura);
    border-radius: 50px;
    padding: 0 5px;
    cursor: pointer;
}

header .cabecalho .tema > .box-check .bolinha{
    position: absolute;
    background-color: var(--cor-escura);
    width: 22px;
    height: 22px;
    border-radius: 50%;
    top: 3px;
    left:6px;
    transition: all .2s ease-in-out;
}

input[type='checkbox']:checked + span.box-check > span{
    transform: translateX(41px);
}

header .cabecalho .tema span img{   
    width: 22px;
}

header .cabecalho .tema span.icons-boxcheck :nth-child(1){ 
    margin-top: 2px;
    margin-right: 14px;
}

/* inicio */

header .inicio {
    padding: 7em 2em 0;
    height: 100%;
}


header .inicio .apresentacao{
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
    padding: 2em 0 8em;
}

header .inicio .apresentacao span{
    font-size: 1.3rem;
    text-transform: uppercase;
}

header .inicio  .foto{
    width: 200px;
    height: 200px;   
    position: relative;
    margin: auto;
}

header .inicio  .foto .img-wrapper{
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: var(--cor-primaria);
    border:1px solid black;
    transform: translateY(20%);
}


header .inicio .foto img{
    border-radius: 0 0 50% 50%;
    position: absolute;
    width: 98.5%;
    height: 95%;
    transform: scale(1.01, 1.15) translate(1.25%, 12%);
}

header .inicio .redes{
    display: flex;
    justify-content: space-between;
    margin-top: 1.5em;
}

header .inicio .redes button{
    outline: none;
    border: none;
    background-color: var(--cor-secundaria);
    font-size: 1rem;
    padding: .5em 1em;
}

header .inicio .redes button a{
    display: flex;
}

/*header .inicio .apresentacao p{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    font-size: 1.25em;
    font-weight: normal;
    height: 100px;
    width: 100%;
    margin: 3em 0 1em;
    -webkit-animation: text-pop-up-tl 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	animation: text-pop-up-tl 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes text-pop-up-tl {
    0% {
      -webkit-transform: translateY(0) translateX(0);
              transform: translateY(0) translateX(0);
      -webkit-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
      text-shadow: none;
              opacity: 0.1;
    }
    100% {
      -webkit-transform: translateY(-50px) translateX(-50px);
              transform: translateY(-50px) translateX(-50px);
      -webkit-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
              opacity: 1;
    }
}
@keyframes text-pop-up-tl {
    0% {
      -webkit-transform: translateY(0) translateX(0);
              transform: translateY(0) translateX(0);
      -webkit-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
              opacity: 0.1;  
      text-shadow: none;
    }
    100% {
      -webkit-transform: translateY(-50px) translateX(-50px);
              transform: translateY(-50px) translateX(-50px);
      -webkit-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
              opacity: 1;
    }
}



/* MAIN */


main{ 
    position: relative;
}

main section{
    padding: 2em 1em 0;
}

main .titulo-subtitulo{
    text-align: center;
}

main h1{
    font-size: 1.6em;
    margin-bottom: .15em;
}

main .titulo-subtitulo p::after{
    content: '';
    display: block;
    margin: 1em 0 2em;
    width: 25%;
    height: 1px;
    transform: translateX(150%);
    background: var(--cor-escura);
    opacity: .5;
}

main .conteudo p{
    font-size: .8em;
    text-align: center;
    line-height: 25px;
    letter-spacing: 2px;
    margin-bottom: 2em;
}


/* SOBRE MIM */

main .sobre-mim{
    background-color: gainsboro;
}





