@charset "UTF-8";


@import url('https://fonts.googleapis.com/css2?family=Bungee+Hairline&family=Libre+Baskerville:wght@400;700&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');


:root{
    /* Fontes */
    --fonte-principal:'Space Grotesk', sans-serif; 
    --fonte-destaque: 'Libre Baskerville', serif;

    --cor-escura: hsl(0, 0%, 17%);
    --cor-clara: hsl(0, 0%, 98%);

    --text: hsl(0, 15%, 5%);
    --background: hsl(0, 0%, 100%);
    --cor-primaria: #f68c23;
    --cor-secundaria: #C1DAF0;
    --accent: #B92DB9;

    --text-dark: #f2ebfa;
    --background-dark: #140920;
    --cor-primaria-dark: hsl(30, 92%, 55%);
    --cor-secundaria-dark: #030104;
    --accent-dark: #B267FE;


    /*--text-dark: #fee7e7;
    --background-dark: #0f0b0b;
    --cor-primaria-dark: #ff870e00;
    --cor-secundaria-dark: #011414;
    --accent-dark: #7ebcfa;*/
    
    
    /*--cor-mixblend: #dbdbdb;*/
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body{
    height: 100vh;
    transition: .3s;
    font-family: var(--fonte-principal);
    scroll-behavior: smooth;
    scroll-padding-top: 70px;
    background: var(--background); 
}

a{
    text-decoration: none;
    color: inherit;
}

ul,li{
    list-style: none;
}

/* Scroolbar */

body::-webkit-scrollbar{
    width: 9px;              
}
  
body::-webkit-scrollbar-track{
    position: relative;
    z-index: -1;
    background: transparent;   
       
}
  
body::-webkit-scrollbar-thumb{
    background-color: rgba(255, 166, 0, 0.486);  
    border-radius: 20px;       
    border: 3px solid transparent;  
}

/* HEADER */


header {
    height: 100%; 
    background: url(/imagens/layered-waves-haikei.svg)center bottom no-repeat;
    background-size: cover;
}

header section{
    height: 100%;
}

/* .cabecalho */
 
header .cabecalho{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    height: 70px;
    width: 100%;
    padding: 1em;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 999;
    background-color: var(--cor-clara); 
    border-bottom: 1px solid var(--cor-escura);
}


header .cabecalho .logo {
    width: 80px;
    height: 33px;
    background: transparent;
}

header .cabecalho svg{
    width: 100%;
    height: 100%;  
}

header .cabecalho .logo svg g{
    fill: var(--cor-escura);
}

header .cabecalho .navbar{
    width: 45px;
}

header .cabecalho .navbar input{
    display: none;
}

header .cabecalho .navbar ul{
    display: none;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    top: 70px;
    right: 0;
    position: absolute;
    z-index: 999;
    background-color: var(--cor-clara);
    border-bottom: 1px solid var(--cor-escura);
}

header .cabecalho .navbar ul a{
    color: var(--cor-escura);
    text-transform: capitalize;
    padding: .5em;
    font-size: .8em;
    position: relative;
}

header .cabecalho .navbar ul a.active{
    color: var(--cor-primaria);
}

header .cabecalho .navbar ul a.active::before,
header .cabecalho .navbar ul a:hover::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 3px;
    background-color: var(--cor-primaria);
    border-radius: 3px;
    transform:translateY(1px) translateX(50%);
    opacity: 0.7;
}
 
header #hamburguer-menu-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    height: 40px;
    width: 42px;
    background-color: transparent;
    border-radius: 50%;
    transition: .3s ease-in-out;
    border: none;
    outline: none !important; 
    cursor: pointer;
}

header .hamburguer-menu-central{
    width: 50%;
    height: 2px;
    background-color: var(--cor-escura);
    position: relative;
    opacity: 1;
    transition: .3s ease-in-out;
}

header .hamburguer-menu-central:before,
.hamburguer-menu-central:after {
    content: "";
    left: 0;
    width: 100%;
    height: 2px;
    background-color: var(--cor-escura);
    position: absolute;
    transition: .3s ease-in-out;
}

header .hamburguer-menu-central::before{
    transform: translateY(-5px);
}

.hamburguer-menu-central::after{
    transform: translateY(5px);   
}

header .cabecalho .navbar input:checked ~ label .hamburguer-menu-central{
    transform: rotate(45deg);
    background-color: var(--cor-clara);
}

header .cabecalho .navbar input:checked ~ label .hamburguer-menu-central::before{
    transform: rotate(90deg);
    background-color: var(--cor-clara);
}

header .cabecalho .navbar input:checked ~ label .hamburguer-menu-central::after{
    transform: rotate(90deg);
    background-color: var(--cor-clara);
}

header .cabecalho .navbar input:checked ~ label #hamburguer-menu-wrapper{
    background-color: var(--cor-escura);
}

header .cabecalho .navbar-lista{
    display: none;
}

header .cabecalho .tema{
    display: flex;
    justify-content: center;
    position: relative;
}

header .cabecalho .tema input[type="checkbox"]{
    display: none;
}

header .cabecalho .tema > .box-check{
    width: 75px;
    height: 28px;
    appearance: none;
    display: block;
    border: 1px solid var(--cor-escura);
    border-radius: 50px;
    padding: 0 5px;
    cursor: pointer;
}

header .cabecalho .tema > .box-check .bolinha{
    position: absolute;
    background-color: var(--cor-escura);
    width: 22px;
    height: 22px;
    border-radius: 50%;
    top: 3px;
    left:6px;
    transition: all .2s ease-in-out;
}

input[type='checkbox']:checked + span.box-check > span{
    transform: translateX(41px);
}

header .cabecalho .tema span img{   
    width: 22px;
}

header .cabecalho .tema span.icons-boxcheck :nth-child(1){ 
    margin-top: 2px;
    margin-right: 14px;
}

/* language */

header .language{
    position: absolute;
    width: 50px;
    height: 35px;
    top: 6em;
    right: 2.5em;
   /* background: rgb(246,140,35);
    background: linear-gradient(45deg, rgba(246,140,35,1) 0%, rgba(246,140,35,0.6208858543417367) 100%);*/
    background-color: #b92db98d;
    place-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

header .language img{
    width: 50%;
    height: 75%;
}

/* inicio */

header .inicio {
    padding: 7em 2em 0;
    height: 100%;
}


header .inicio p{
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
    padding: 3.5rem 0;
    font-weight: bold;
    text-shadow: .0325em 0.0325em var(--cor-secundaria);
   /* -webkit-animation: text-pop-up-tl 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	animation: text-pop-up-tl 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;*/
}

header .inicio p .nome{
    font-size: 1.5rem;   
    font-weight: bolder;  
}

header .inicio p .funcao{
    font-size: 1.9rem;
    text-transform: uppercase;
    color: var(--cor-primaria);
    font-weight: bolder;
    text-shadow: .075em .075em  var(--cor-secundaria);
}

header .inicio  .foto{
    width: 200px;
    height: 200px;   
    position: relative;
    margin: auto;
}

header .inicio  .foto .img-wrapper{
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: var(--cor-primaria);
    border: 3.5px solid var(--cor-secundaria);
    transform: translateY(20%);
}

header .inicio  .foto .img-wrapper::after{
    content: '';
    position: absolute;
    inset: 0;
    width: 99.5%;
    height: 97%;
    border-radius: 50%;
    background-color: var(--cor-primaria);
    transform: translate(.5px,10px);
}

header .inicio .foto img{
    border-radius: 0 0 50% 50%;
    position: absolute;
    width: 98.5%;
    height: 95%;
    transform: scale(1.01, 1.15) translate(1.25%, 12%);
}

header .inicio .redes{
    display: flex;
    justify-content: space-between;
    margin-top: 2.5em;
}

header .inicio .redes button {
    border: none;
    position: relative;
    background-color: var(--cor-escura);
    outline: 2px solid var(--cor-secundaria);
    outline-offset: -4px;
    border-radius: 3px;
    font-size: 1rem;
    padding: .5em 1em;   
    z-index: 1;
    transition: transform 0.3s ease-in-out;
}

header .inicio .redes button::before {
    content: '';
    position: absolute;
    z-index: -1;
    inset: 4px;
    width: 100%;
    height: 100%;
    background-color: var(--cor-escura);
    transition: transform 0.3s ease-in-out;
    transform: translate(0, 0);
}

header .inicio .redes button:hover {
    transform: translate(4px, 4px);
}

header .inicio .redes button:hover::before {
    transform: translate(-4px, -4px);
}

header .inicio .redes button a{
    display: flex;
    font-weight: 600;
    color: var(--cor-secundaria);
}

header .inicio .redes button a ion-icon{
    color: var(--cor-secundaria);
    margin-right: 3px;
}

@-webkit-keyframes text-pop-up-tl {
    0% {
      -webkit-transform: translateY(0) translateX(0);
              transform: translateY(0) translateX(0);
      -webkit-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
      text-shadow: none;
              opacity: 0.1;
    }
    100% {
      -webkit-transform: translateY(-50px) translateX(-50px);
              transform: translateY(-50px) translateX(-50px);
      -webkit-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
              opacity: 1;
    }
}
@keyframes text-pop-up-tl {
    0% {
      -webkit-transform: translateY(0) translateX(0);
              transform: translateY(0) translateX(0);
      -webkit-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
              opacity: 0.1;  
      text-shadow: none;
    }
    100% {
      -webkit-transform: translateY(-50px) translateX(-50px);
              transform: translateY(-50px) translateX(-50px);
      -webkit-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
              opacity: 1;
    }
}

/* MAIN */

main{ 
    position: relative;
}

main section{
    padding: 1em 1em 0;
}

main h1{
    position: relative;
    font-size: 2.1em;
    margin-bottom: .75em;
    text-transform: uppercase;
    text-align: center;
}

main h1::after{
    content: '';
    position: absolute;
    top: 0;
    left: 25vw;
    width: 143px;
    height: 100%;
    background-color: var(--accent);
    opacity: .65;
    transform: skew(135deg);
}

/* SOBRE MIM */

main .sobre-mim{
    background-color: var(--cor-clara);
    height: 95vh;
}

main .sobre-mim .conteudo > p{
    font-size: 1rem;
    line-height: 26px;
    letter-spacing: 1px;
    margin-bottom: .75em;
}

main .sobre-mim .cards-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 7.5px;
    margin-top: 2rem;
}

main .sobre-mim .hidden{
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition:  1.25s;
}

.cards:nth-child(1){
    transition-delay: 100ms;
}

.cards:nth-child(2){
    transition-delay: 500ms;
}

.cards:nth-child(3){
    transition-delay: 500ms;
}

main .sobre-mim .show{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0%);
}

@media(prefers-reduced-motion){
    .hidder{
        transition: none;
    }
}

main .sobre-mim .cards-wrapper .cards{
    display: grid;
    align-items: center;
    grid-template-rows: 25% 75%;
    width: 100%;
    height: 150px;
    border: 1px solid var(--cor-primaria);
    box-shadow: 0px 0px 6px 1px rgba(255, 166, 0, 0.31);
    border-radius: 5px;
    padding: .5rem;
    position: relative;
}

main .sobre-mim .cards-wrapper .cards::after{
    content: '';
    position: absolute;
    top: 50px;
    left: 30%;
    width: 40%;
    height: 1px;
    margin: auto;
    background-color: var(--cor-primaria);
}

main .sobre-mim .cards-wrapper .cards img{
    width: 1.7em;
    margin: auto;
}

main .sobre-mim .cards-wrapper .cards p{
    font-size: .85rem;
    text-align: center;
}

/* projeto */

main .projetos .pjtdestaque{
  width: 100vw;
}

main .projetos .pjtdestaque img{
    width: 100vw;
}







